*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/*HEADER*/

.header-container {
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.contained {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}


.logo, .menu {
  background-color: white;
  color: white;
  border: 1px dashed black;  
}

/*MAIN*/

.first-section {
    margin-top: 65px;
}

.second-section {
    margin-top: 40px;
    background-color: #9792E4;
}

.third-section {
    margin-top: 40px;
}

.fourth-section {
    margin-top: 40px;
    padding-top: 20px;
    background-color: #9792E4;
}

.cards-container {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.img {
    background-color: yellow;
    color:yellow;
    margin: 20px 0px;
}
.description {
    background-color: lightgreen;
    color:lightgreen;
    margin: 20px 0px;
}

.card {
    background-color: #B5DDFF;
    color: #B5DDFF;
    padding: 10px;
    margin-bottom: 15px;
}

/*UTILS*/

.border-20 {
    border-radius: 20px;
}

.border-10 {
    border-radius: 10px;
}

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: #9792E4;
} 

.color-violet {
    color: #9792E4;;
}

.color-white {
    color: white;
}
