*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'PT Sans', sans-serif;
}

/*HEADER*/

header {
    margin-bottom: 110px; 
}

.header-container {
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

button {
    padding: 1px 10px;
    border-radius:10px
}

.btn-header {
    border-color: #0084FD;
}

.btn-card {
   background-color: #0084FD;
   border-radius:10px;
   text-align: center;
   color: white;
   width: 140px;
   margin-left: 110px;
}

ul {
    display: flex;
    margin: 13px;
}

li, a {
   color: white;
   list-style-type: none;
   text-decoration: none;
   margin: 0px 5px;
}

.contained {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

h3 {
    color: #0084FD;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    padding: 0px 10px;;
}


.logo, .menu {
  color: white;
}

i {
    text-align: center;
}

/*MAIN*/

.first-section {
    margin-top: 65px;
}

.second-section {
    margin-top: 40px;
    background-color: #9792E4;
}

.third-section, .fifth-section {
    margin-top: 40px;
}

.fourth-section {
    margin-top: 40px;
    padding-top: 20px;
    background-color: #9792E4;
}

.cards-container, .second-container {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.info-container {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.phone, .planning {
    height: 350px;
}
.description {
    color:black;
    margin: 20px 0px;
}

.card, .block {
    background-color: #B5DDFF;
    color: black;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.big-card {
    background-color: #B5DDFF;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    
}


.photo {
    background-color: red;
    width: 100px;
    height: 100px;
}

.testimonial {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

/*FOOTER*/

.first-footer {
    background-color: #9792E4;
}

.second-footer {
    background-color: black;
}

.footer-container {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

/*UTILS*/



.border-20 {
    border-radius: 20px;
}

.border-10 {
    border-radius: 10px;
}

.bg-blue {
    color: #0084FD;  
}

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: #9792E4;
} 

.color-violet {
color: #9792E4;

}
.color-violet {
    color: #9792E4;;
}

.color-white {
    color: white;
}

.m-bottom-20 {
    margin-bottom:20px
}

.w-66 {
    width: 66%;
}

.w-50 {
    width: 50%;
}
.w-33 {
    width: 33%;
}



/*##RESPONSIVE##*/

@media screen and (min-width:450px){
    .desktop-menu {
        display: none;
    }

    .big-card {
        padding-top: 20px;
        }
}

@media screen and (min-width:767px){
    .big-card {
        width: 66%;
    }

    .card {
        width: 33%;
    }
    .first-row {
        display: flex;
        flex-wrap: wrap;
    } 

    .seceond-row {
        display: flex;
        flex-wrap: wrap;
    }

    .info-container {
        display:flex;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .photo {
        width: 40%;
       margin: 20px;
    }
    
    .planning {
        height: 450px;
    }
    
    
}

@media screen and (min-width:991px) {
    .big-card {
        display: flex;
    }
    
    .first-col, .second-col {
         width: 50%;
     }
     .col-container {
         display: flex;
     }
    .desktop-menu {
        display: flex;
    }

    .phone {
        height: 240px;
        margin-top: 70px;
    }
    .planning {
        height: 350px;
    }

    .margin-top {
        margin-top: 150px;
    }


}