*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/*HEADER*/

.header-container {
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.contained {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}


.logo, .menu {
  background-color: white;
  color: white;
  border: 1px dashed black;  
}

/*MAIN*/

.first-section {
    margin-top: 65px;
}

.cards-container {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.card {
    background-color: #B5DDFF;
    color: #B5DDFF;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
